<?xml version="1.0" encoding="UTF-8"?>

<web-app>

<!-- for ContextServlet value use below -->
<context-param>
  <param-name>xyz</param-name>
  <param-value>3000</param-value>
</context-param>

<!-- for servlet deployment -->
<servlet>
   <servlet-name>DisplayDetails</servlet-name>
   <servlet-class>com.vny.context_config.DisplayDetails</servlet-class>  
       <!-- for ConfigServlet value use below -->
       <init-param>
         <param-name>abc</param-name>
         <param-value>1000</param-value>
       </init-param>
</servlet>

<!-- For mapping  -->
    <servlet-mapping>
       <servlet-name>DisplayDetails</servlet-name>
       <url-pattern>/dis</url-pattern>
	</servlet-mapping>
	
	<!-- to load the html page -->
   <welcome-file-list>
	    <welcome-file>input.html</welcome-file>
	</welcome-file-list>


	
	

</web-app>